# 忽略整个 Drivers 文件夹 (HAL 库)
Drivers/

# 忽略中间件文件夹
Middlewares/

# 忽略编译生成的临时文件和输出文件
*.o
*.d
*.map
*.elf
*.hex
*.bin
*.list
*.srec

# 忽略 IDE 生成的配置文件夹 (根据你用的软件选填)
# 如果是 Keil
RTE/
*.uvoptx
*.uvguix.*
Objects/
Listings/

# 如果是 IAR
Debug/
Release/
*.ewp
*.eww
*.ipcf

# 如果是 VS Code
.vscode/

# 忽略系统垃圾文件
.DS_Store
Thumbs.db